<template>
  <div class="mt-5">
    <h1>home page</h1>
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div
          v-for="(event, index) in events"
          :key="event._id"
          class="carousel-item" :class="{ active: (index === 0) }">
          <img :src="`https://picsum.photos/1000/350/?image=${event._id + 400}`" :alt="event.title">
          <div class="carousel-caption d-none d-md-block carousel-title">
            <h3>{{ event.title }}</h3>
            <p class="text-primary"><small>{{ event.date | formatDate }}</small></p>
            <router-link class="btn btn-primary" :to="`/event/${event._id}`" role="button">Détails</router-link>
          </div>
        </div>
      </div>
    </div>
    <h1 class="mt-5 mb-5 text-center">JS-P - Evenements</h1>
    <h5>Site en construction</h5>
    <div class="progress mb-5">
      <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%"></div>
    </div>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptate voluptates earum iste, est temporibus qui.</p>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Omnis exercitationem quia consequatur cum hic laborum ratione fuga dolorem maiores? Accusantium.</p>
    <p>
      <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas, repellendus!</span>
      <span>Laborum necessitatibus maxime nihil et beatae minima aliquam reiciendis voluptas!</span>
      <span>Laborum, quos omnis? Atque eum ipsa dignissimos accusantium, odit quam!</span>
      <span>Dicta nihil corrupti vel nostrum corporis deleniti repellendus et doloribus!</span>
      <span>Aperiam possimus rerum dolorem eaque quam perferendis, blanditiis quibusdam asperiores!</span>
    </p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime voluptas facere magni suscipit quam omnis?</p>
  </div>
</template>

<script>
// import Datepicker from '@/components/datepicker/Datepicker'
import moment from 'moment'
export default {
  data () {
    return {}
  },
  computed: {
    events () {
      return this.$store.getters.featuredEvents
    }
  },
  filters: {
    formatDate (date) {
      return moment(date).format('DD MMMM YYYY')
    }
  },
  components: {

  }
}
</script>

<style scoped>

  .carousel-title {
    background: rgba(255, 255, 255, .7);
    padding: 30px 15px;
  }

  .carousel-item img {
    width: 100%;
  }

</style>
