<template>
    <div class="jumbotron mt-5">
        <form class="col-md-8 offset-md-2" @submit.prevent="signup">
            <h2>Inscription</h2>
            <div class="form-group mt-4">
                <label for="email">Email</label>
                <input v-model="email" type="email" id="email" class="form-control" placeholder="Entrez votre email">
            </div>
            <div class="form-group">
                <label for="password1">Mot de passe</label>
                <input v-model="password1" type="password" id="password1" class="form-control" placeholder="Entrez votre mot de passe">
            </div>
            <div class="form-group">
                <label for="password2">Vérifier le mot de passe</label>
                <input v-model="password2" type="password" id="password2" class="form-control" placeholder="Entrez votre mot de passe">
            </div>
            <p
                class="text-danger"
                v-for="(error, index) in errors"
                :key="index">
                {{ error }}
            </p>
            <button type="submit" class="btn btn-primary mt-2">M'inscrire</button>
        </form>
    </div>
</template>

<script>
export default {
  data () {
    return {
      email: '',
      password1: '',
      password2: '',
      errors: []
    }
  },
  methods: {
    signup () {
      this.errors = []
      const email = this.email
      const password = this.password1
      const password2 = this.password2
      if (password === password2) {
        this.$store.dispatch('register', { email, password })
          .then(() => this.$router.push('/'))
          .catch(err => {
            this.errors.push(err.response.data.message)
          })
      } else {
        this.errors.push('Les mots de passes ne sont pas identiques')
      }
    }
  }
}
</script>

<style scoped>
    input{
        border: 1px solid #ddd;
        transition: border .3s
    }
    input:focus{
        border: transparent;
    }
</style>
