<template>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <span @click="collapse">
                <router-link class="navbar-brand" to="/">JS-P</router-link>
            </span>

            <button class="hamburger hamburger--emphatic" @click="toggleNavbar" :class="{ 'is-active': expanded }" type="button">
                <span class="hamburger-box">
                    <span class="hamburger-inner"></span>
                </span>
            </button>

            <div class="navbar-collapse navbar-nav-xl">
                <ul class="navbar-nav mr-auto">
                    <router-link tag="li" class="nav-link" exact to="/events">events</router-link>
                    <router-link v-if="loggedIn" tag="li" class="nav-link" exact to="/new-event">new-event</router-link>
                    <router-link v-if="loggedIn" tag="li" class="nav-link" exact to="/profil">profil</router-link>
                    <router-link v-if="!loggedIn" tag="li" class="nav-link" exact to="/signup">signup</router-link>
                    <router-link v-if="!loggedIn" tag="li" class="nav-link" exact to="/login">login</router-link>
                    <li v-if="loggedIn" @click="logout" class="nav-link">logout</li>
                </ul>
            </div>
        </nav>
        <transition name="navbar">
                <ul @click="collapse" v-if="expanded" class="navbar navbar-nav navbar-nav-xs mr-auto">
                    <router-link tag="li" class="nav-link" exact to="/events">events</router-link>
                    <router-link v-if="loggedIn" tag="li" class="nav-link" exact to="/new-event">new-event</router-link>
                    <router-link v-if="loggedIn" tag="li" class="nav-link" exact to="/profil">profil</router-link>
                    <router-link v-if="!loggedIn" tag="li" class="nav-link" exact to="/signup">signup</router-link>
                    <router-link v-if="!loggedIn" tag="li" class="nav-link" exact to="/login">login</router-link>
                    <li v-if="loggedIn" @click="logout" class="nav-link">logout</li>
                </ul>
        </transition>

    </header>
</template>

<script>
export default {
  data () {
    return {
      expanded: false
    }
  },
  computed: {
    loggedIn () {
      return this.$store.getters.loggedIn
    }
  },
  methods: {
    toggleNavbar () {
      this.expanded = !this.expanded
    },
    collapse () {
      this.expanded = false
    },
    logout () {
      this.$store.dispatch('logout')
        .then(() => {
          this.$router.push('/login')
        })
    }
  }
}
</script>

<style scoped>

    .navbar li.nav-link {
        cursor: pointer;
    }

    .navbar li.nav-link.router-link-active {
        color: #fff;
    }

    .navbar-nav-xs {
        display: block;
        background: #1a1a1a;
        padding: 20px;
        padding-top: 0;
        width: 100%;
        position: absolute;
        z-index: 20;
    }

    .hamburger-inner,
    .hamburger-inner::before,
    .hamburger-inner::after {
        background: #dedede !important;
        transform: scale(.7)
    }

    button:focus {
        outline: none !important;
    }

    .navbar-toogle-icon .bar1,
    .navbar-toogle-icon .bar2,
    .navbar-toogle-icon .bar3 {
        width: 35px;
        height: 5px;
        background-color: #fff;
        margin: 6px 0;
        transition: 0.3s;
    }

    @media (min-width: 992px) {
        .hamburger, .navbar-nav-xs {
            display: none;
        }
    }

    @media (max-width: 991px) {
        .navbar-nav-xl {
            display: none;
        }
    }

    /* ANIMATIONS */

    .navbar-enter {
        opacity: 0;
        transform: translateX(-100%)
    }

    .navbar-enter-active {
        transition: all .3s;
    }

    .navbar-leave-active {
        transition: all .3s;
        opacity: 0;
        transform: translateX(-100%)
    }
</style>
