<template>
  <div class="mt-5">
    <event-card
      v-for="event in events"
      :key="event.id"
      :event="event"/>
  </div>
</template>

<script>
import EventCard from '@/components/event/EventCard'
export default {
  data () {
    return {}
  },
  computed: {
    events () {
      return this.$store.getters.loadedEvents
    }
  },
  methods: {

  },
  components: {
    EventCard
  }
}
</script>
