<template>
  <div class="mt-5">
    <router-link class="btn btn-secondary mb-5" to="/events">Retournez à la liste</router-link>
    <div class="jumbotron" v-if="event">
        <h1 class="display-4">{{ event.title }}</h1>
        <img :src="`https://picsum.photos/1000/350/?image=${event._id + 400}`" class="img-responsive" :alt="event.title">
        <hr class="my-4">
        <p class="lead">{{ event.description }}</p>
        <p>Crée par : {{ creator.email }}</p>
        <p>le {{ formatDate }}</p>
        <div v-if="!isCreator">
          <a
            v-if="registered"
            @click.prevent="unregister"
            class="btn btn-primary btn-lg">
            Me désinscrire
          </a>
          <a
            v-else
            @click.prevent="register"
            class="btn btn-outline-primary btn-lg">
            M'inscrire
          </a>
        </div>
        <div v-else>
          <router-link :to="`/edit/event/${event._id}`" class="btn btn-primary btn-lg">Modifier</router-link>
        </div>
    </div>
  </div>
</template>

<script>
import moment from 'moment'
moment.locale('fr fr')
export default {
  data () {
    return {}
  },
  computed: {
    event () {
      return this.$store.getters.loadedEvent(this.$route.params.id)
    },
    creator () {
      return this.$store.getters.loadedUser(this.event.creatorId) || {}
    },
    isCreator () {
      return (this.event.creatorId === this.$store.getters.loggedUser._id)
    },
    goingTo () {
      const user = this.$store.getters.loggedUser
      if (!user) {
        return []
      }
      return user.goingTo
    },
    formatDate () {
      const date = moment(this.event.date)
      return date.format('DD MMMM YYYY')
    },
    registered () {
      return this.goingTo.includes(this.event._id.toString())
    }
  },
  methods: {
    register () {
      this.$store.dispatch('registerUser', this.event._id)
    },
    unregister () {
      this.$store.dispatch('unregisterUser', this.event._id)
    }
  }
}
</script>

<style scoped>

    img.img-responsive {
        width: 100%;
        margin: 20px 0;
    }

</style>
