<template>
  <div class="jumbotron mt-5">
    <form class="col-md-8 offset-md-2" @submit.prevent="createEvent">
      <h2>Créer un évenement</h2>
      <div class="form-group mt-4">
        <label for="title">Titre</label>
        <input v-model="title" type="text" id="title" class="form-control" placeholder="Titre de l'évenement">
      </div>
      <div class="form-group mt-4">
        <label for="description">Description</label>
        <textarea v-model="description" type="text" id="description" class="form-control" placeholder="Déscription de l'évenement" />
      </div>
      <datepicker
        name="date"
        :value="date"
        @submitDate="updateDate"/>
      <p
        class="text-danger"
        v-for="(error, index) in errors"
        :key="index">
        {{ error }}
      </p>
      <button type="submit" :class="{ disabled: !disabled() }" class="btn btn-primary mt-2">Créer</button>
    </form>
  </div>
</template>

<script>
import Datepicker from '@/components/datepicker/Datepicker'
import moment from 'moment'
export default {
  data () {
    return {
      description: '',
      title: '',
      date: '',
      errors: []
    }
  },
  methods: {
    createEvent () {
      this.errors = []
      const date = new Date(this.date).valueOf()
      if (!this.title || !this.description || !this.date) {
        return this.errors.push('Remplissez tout les champs')
      }
      if (date < Date.now()) {
        return this.errors.push('Date invalide')
      }

      const newEvent = {
        description: this.description,
        title: this.title,
        date: date,
        creatorId: this.$store.getters.loggedUser._id
      }
      console.log(newEvent)
      this.$store.dispatch('createEvent', newEvent)
      this.$router.push('/events')
    },
    updateDate (date) {
      this.date = date.clone().format('YYYY-MM-DD')
    },
    disabled () {
      return (this.title !== '' && this.description !== '')
    }
  },
  created () {
    this.date = moment(Date().now).add(1, 'days').format('YYYY-MM-DD')
  },
  components: {
    Datepicker
  }
}
</script>
