<template>
  <div>
    <div @click.prevent="close" v-if="isVisible" class="edit-picture">
      <div class="container col-md-8 mt-5">
        <form @click.stop @submit.prevent="onUpload">
          <span @click.prevent="close" class="close"></span>
          <div class="form-group mb-5" v-if="!loading">
            <div class="input-group mb-3">
              <div class="custom-file">
                <input @change="onFileSelected" name="userImg" type="file" class="custom-file-input" id="profil-img">
                <label class="custom-file-label" for="profil-img">Choose file</label>
              </div>
            </div>
          </div>
          <p
            class="text-danger"
            v-for="(error, index) in errors"
            :key="index">
            {{ error }}
          </p>
          <button v-if="!loading" class="btn btn-primary">Changer de photo !</button>
          <div v-else>
            <h3 style="color: #fff;">Chargement...</h3>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
export default {
  props: ['isVisible'],
  data () {
    return {
      selectedFile: null,
      errors: [],
      loading: false
    }
  },
  methods: {
    onUpload () {
      this.loading = true
      this.errors = []
      if (!this.selectedFile) {
        return this.errors.push('Le fichier n\'est pas valide')
      }
      if (this.selectedFile.size > 1024 * 1023) {
        return this.errors.push('L\'image est trop grande')
      }
      const userId = this.$store.getters.loggedUser._id
      const fd = new FormData()
      fd.append('userImg', this.selectedFile, this.selectedFile.name)
      axios.patch(`/users/${userId}`, fd)
        .then(res => {
          console.log(res)
          this.loading = false
          this.close()
          this.$store.dispatch('loadLoggedUser', userId)
        })
        .catch(err => console.log(err.response.data))
    },
    onFileSelected (event) {
      this.selectedFile = event.target.files[0]
    },
    close () {
      this.$emit('close')
    }
  }
}
</script>

<style scoped>

  .edit-picture {
    z-index: 9999;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background: rgba(0, 0, 0, .9);
  }

  form {
    position: absolute;
    top: 40vh;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80vw;
    background: rgba(255, 255, 255, .7);
    padding: 70px 30px 50px;
  }

  span.close {
    position: absolute;
    cursor: pointer;
    top: 10px;
    right: 10px;
    height: 20px;
    width: 20px;
    transition: all .3s;
  }

  span.close::after,
  span.close::before {
    content: "";
    background: black;
    height: 3px;
    width: 15px;
    position: absolute;
    top: 9px;
    right: 3px;
  }

  span.close::after {
    transform: rotate(45deg);
  }

  span.close::before {
    transform: rotate(-45deg);
  }

</style>
