<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0'/>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-title" content="JS-P">
    <link rel="apple-touch-icon" href="<%= BASE_URL %>/img/icons/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="152x152" href="<%= BASE_URL %>/img/icons/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="180x180" href="<%= BASE_URL %>/img/icons/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="167x167" href="<%= BASE_URL %>/img/icons/apple-touch-icon.png">
    <link rel="shortcut icon" type="image/png" href="<%= BASE_URL %>/img/icons/apple-touch-icon.png"/>

    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <link rel="stylesheet" href="https://bootswatch.com/4/lux/bootstrap.min.css">
    <link href="<%= BASE_URL %>css/hamburgers.css" rel="stylesheet">
    <title>JsProject - IUT </title>
  </head>
  <body>
    <noscript>
      <strong>We're sorry but jsproject doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>
