<template>
    <div>
        <div class="jumbotron">
            <h1 class="display-4">{{ event.title }}</h1>
            <img :src="`https://picsum.photos/1000/350/?image=${event._id + 400}`" class="img-responsive" :alt="event.title">
            <hr class="my-4">
            <p class="lead">{{ event.description }}</p>
            <p>Le {{ formatDate }}</p>
            <router-link class="btn btn-primary btn-lg" :to="`/event/${event._id}`" role="button">Détails</router-link>
        </div>
    </div>
</template>

<script>
import moment from 'moment'
export default {
  props: ['event'],
  computed: {
    formatDate () {
      const date = moment(this.event.date)
      return date.format('DD MMMM YYYY')
    }
  }
}
</script>

<style scoped>

  img.img-responsive {
    width: 100%;
    margin: 20px 0;
  }

  h1.display-4 {
      word-break: break-all;
    }

  @media (max-width: 768px) {
    h1.display-4 {
      font-size: 23px;
    }
  }

</style>
