<template>
    <transition name="datepicker_slide">
        <div class="datepicker_agenda" v-if="visible" @click.stop>
            <header>
                <div class="datepicker_year"> {{ year }} </div>
                <div class="datepicker_date"> {{ formated }} </div>
            </header>
            <div class="datepicker_controls">
                <div class="datepicker_controls_label">
                    {{ month.getFormated() }}
                </div>
                <button v-if="currentMonth" class="datepicker_prev" @click.prevent="prevMonth()"><i class="arrow left" /></button>
                <button class="datepicker_next" @click.prevent="nextMonth()"><i class="arrow right" /></button>
            </div>
            <div class="datepicker_week">
                <div
                    v-for="(day, index) in days"
                    :key="index"
                    class="datepicker_weekday"
                >{{ day }}</div>
            </div>
            <div class="datepicker_days">
                <div class="datepicker_day" :style="`width: ${month.getWeekStart() * 41}px;`" />
                <div
                    class="datepicker_day"
                    v-for="day in month.getDays()"
                    :class="{ selected: isSelected(day) }"
                    @click="selectDate(day)"
                    :key="day"
                >
                    <span class="datepicker_day_effect" />
                    <span class="datepicker_day_text"> {{ day }} </span>
                </div>
            </div>
            <div class="datepicker_actions">
                <button @click.prevent="hideDatepicker">Annuler</button>
                <button @click.prevent="submit">Ok</button>
            </div>
        </div>
    </transition>
</template>

<script>
import Month from './month'
export default {
  props: {
    date: {},
    visible: { type: Boolean, default: true }
  },
  data () {
    return {
      selectedDate: null,
      days: ['L', 'M', 'M', 'J', 'V', 'S', 'D'],
      month: new Month(this.date.month(), this.date.year())
    }
  },
  computed: {
    year () {
      return this.selectedDate.format('YYYY')
    },
    formated () {
      return this.selectedDate.format('dddd DD MMM')
    },
    currentMonth () {
      const firstDay = new Date(this.month.getFirstDay()).valueOf()
      return firstDay > Date.now()
    }
  },
  created () {
    this.selectedDate = this.date.clone()
  },
  methods: {
    isSelected (day) {
      return (
        this.selectedDate.date() === day &&
        (this.month.month + 1) == this.selectedDate.format('M') &&// eslint-disable-line
        (this.month.year) == this.selectedDate.format('Y'))// eslint-disable-line
    },
    selectDate (day) {
      const newDate = this.selectedDate.clone()
      newDate.set('date', day)
      newDate.set('month', this.month.month)
      newDate.set('year', this.month.year)
      this.selectedDate = newDate.clone()
    },
    nextMonth () {
      let month = this.month.month + 1
      let year = this.month.year
      if (month > 11) {
        year++
        month = 0
      }
      this.month = new Month(month, year)
    },
    prevMonth () {
      let month = this.month.month - 1
      let year = this.month.year
      if (month < 0) {
        year--
        month = 11
      }
      this.month = new Month(month, year)
    },
    submit () {
      this.$emit('submitDate', this.selectedDate)
      this.hideDatepicker()
    },
    hideDatepicker () {
      this.selectedDate = this.date.clone()
      this.$emit('hide', true)
    }
  }
}
</script>

<style scoped lang="scss">

    $header-height: 100px;
    $day-size: 41px;
    $primary: #1a1a1a;
    $primary-light: #343a40;

    .datepicker_agenda {
        position: absolute;
        top: calc(100% + 20px);
        z-index: 5;
        background: #fff;
        box-shadow: 0 14px 45px rgba(0, 0, 0, .15), 0 10px 18px rgba(0, 0, 0, .12);
        width: 315px;
    }

    .datepicker_agenda header {
        background: $primary;
        color: #fff;
        padding: 20px;
        height: $header-height;
    }

    .datepicker_year {
        opacity: .7;
        margin-bottom: 10px;
        line-height: 16px;
    }

    .datepicker_date {
        font-size: 32px;
        line-height: 32px;
    }

    .datepicker_week {
        font-size: 12px;
        line-height: 12px;
        color: (0, 0, 0, .8);
        padding: 0 14px;
    }

    .datepicker_weekday {
        float: left;
        width: $day-size;
        text-align: center;
    }

    .datepicker_days {
        margin: 14px;
        margin-bottom: 0;
        height: $day-size*5;
    }

    .datepicker_day {
        position: relative;
        width: $day-size;
        height: $day-size;
        line-height: $day-size;
        float: left;
        text-align: center;
        cursor: pointer;
        transition: color 450ms cubic-bezier(0.23, 1, 0.32, 1);
    }

    .datepicker_day:hover {
        color: #fff;
        .datepicker_day_effect {
            transform: scale(1);
            background: $primary-light;
            opacity: 1;
        }
    }

    .datepicker_day.selected {
        color: #fff;
        .datepicker_day_effect {
            transform: scale(1);
            opacity: 1;
        }
    }

    .datepicker_day_effect {
        content: "";
        position: absolute;
        top: 2px;
        left: 2px;
        width: 36px;
        height: 36px;
        border-radius: 50%;
        background: $primary;
        transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1);
        transform: scale(0);
        opacity: 0;
    }

    .datepicker_day_text {
        position: relative;
    }

    .datepicker_controls {
        height: 56px;
        line-height: 56px;
        text-align: center;
        position: relative;

        button {
            border: none;
            background: transparent;
            user-select: none;
            outline: none;
            cursor: pointer;
            width: 56px;
            height: 56px;
        }

        .datepicker_next {
            float: right;
        }

        .datepicker_prev {
            float: left;
        }
    }

    .datepicker_controls_label {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 56px;
        left: 56px;
    }

    i {
        cursor: pointer;
        border: solid rgba(0, 0, 0, .87);
        border-width: 0 3px 3px 0;
        display: inline-block;
        padding: 3px;
    }

    .right {
        transform: rotate(-45deg);
    }

    .left {
        transform: rotate(135deg);
    }

    .datepicker_actions {
        text-align: right;
        padding: 8px;
    }

    .datepicker_actions button {
        border: none;
        background-color: transparent;
        display: inline-block;
        cursor: pointer;
        outline: none;
        color: $primary;
        font-size: 14px;
        text-transform: uppercase;
        font-weight: 500;
        min-width: 88px;
        text-align: center;
        -webkit-appearance: none;
        line-height: 36px;
        transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1);

        &:hover {
            background-color: rgba(153, 153, 153, .2);
        }

    }

    .datepicker_slide-enter{
        transform: translateX(-10px);
        opacity: 0;
    }
    .datepicker_slide-enter-active{
        transition: all .3s;
    }
    .datepicker_slide-leave-active{
        transition: all .3s;
        transform: translateX(10px);
        opacity: 0;
    }

</style>
