<template>
    <div class="form-group datepicker_container">
        <input class="form-control" type="text" :value="date_formatted" @click="showDatepicker()">
        <input type="hidden" :name="name" :value="date_raw">
        <datepicker-agenda
            :date="date"
            :visible="isVisible"
            @hide="hideDatepicker"
            @submitDate="updateDate"/>
    </div>
</template>

<script>
import moment from 'moment'
import DatepickerAgenda from './DatepickerAgenda'
moment.locale('fr')
export default {
  components: {
    DatepickerAgenda
  },
  props: {
    value: { type: String, required: true },
    name: { type: String, required: true }
  },
  data () {
    return {
      date: moment(this.value, 'YYYY-MM-DD'),
      isVisible: false
    }
  },
  computed: {
    date_formatted () {
      return this.date.format('DD MMMM YYYY')
    },
    date_raw () {
      return this.date.format('YYYY-MM-DD')
    }
  },
  methods: {
    updateDate (date) {
      this.date = date.clone()
      console.log(this.date.format('DD-MM-YYYY'))
      this.$emit('submitDate', this.date)
    },
    showDatepicker () {
      this.isVisible = true
      setTimeout(() => document.addEventListener('click', this.hideDatepicker), 0)
    },
    hideDatepicker () {
      this.isVisible = false
      document.removeEventListener('click', this.hideDatepicker)
    }
  }
}
</script>

<style scoped>
    .datepicker_container{
        position: relative;
    }
</style>
