<template>
  <div>
    <edit-picture :isVisible="editPicture" @close="editPicture = false" />
    <div class="profil" v-if="user">
        <img @click="editPicture = true" class="profil-picture" :src="`https://js-project-iut.herokuapp.com/${user.img}`" alt="user picture">
        <div class="infos">
          <p>Mail: {{ user.email }}</p>
          <p>Évènements proches : {{ user.goingTo.length }}</p>
        </div>
    </div>
    <div v-if="events.length" class="events">
      <h3 class="title">Évènements proches :</h3>
      <event-card
      v-for="event in events"
      :key="event.id"
      :event="event"/>
    </div>
    <div v-if="created.length" class="events">
      <h3 class="title">Évènements crées :</h3>
      <event-card
      v-for="event in created"
      :key="event.id"
      :event="event"/>
    </div>
  </div>
</template>

<script>
import EventCard from '@/components/event/EventCard'
import EditPicture from '@/components/user/EditPicture'
export default {
  data () {
    return {
      editPicture: false
    }
  },
  computed: {
    user () {
      return this.$store.getters.loggedUser
    },
    events () {
      if (!this.user) {
        return []
      }
      return this.$store.getters.filteredEvents(this.user.goingTo)
    },
    created () {
      if (!this.user) {
        return []
      }
      return this.$store.getters.createdByEvents(this.user._id)
    }
  },
  components: {
    EventCard,
    EditPicture
  }
}
</script>

<style scoped>

  .profil {
    padding: 30px 100px;
  }

  img.profil-picture {
    transition: opacity .3s;
    cursor: pointer;
    display: block;
    margin: 20px auto;
    object-fit: cover;
    border-radius: 50%;
    height: 100px;
    width: 100px;
  }

  img.profil-picture:hover {
    opacity: .5;
  }

  .infos {
    text-align: center;
  }

  .title {
    text-align: center;
    margin: 20px;
  }

</style>
