<template>
  <div>
    <Header />
    <main class="container">
      <router-view/>
    </main>
  </div>
</template>

<script>
import Header from '@/components/shared/Header'
export default {
  components: {
    Header
  },
  created () {
    this.$http.interceptors.response.use(undefined, err => {
      return new Promise((resolve, reject) => {
        console.log('app created test')
        if (err.status === 401 && err.config && !err.config.__isRetryRequest) {
          console.log('app created logout')
          this.$store.dispatch('logout')
        }
        throw err
      })
    })
  }
}
</script>

<style>

</style>
